<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.26/vue.global.min.js"></script>
<div id="demo" class="demo">
	<>
</div>
<script>
	const app = {
		data() {
			return {
				"message": "Ok",
				"mmm": 1
			}
		},
		methods: {
			count() {
				this.mmm = this.mmm + 1
			}
		}
	}
	const app2 = Vue.createApp()
	app2.component("demo-component", {
		data() {
			return {
				"message": "Ok",
				"mmm": 1
			}
		},
		template: `
  	 <div v-model="mmm" class="demo">{{mmm}} </div>
	<button @click="count">点击</button>
	<input v-model="message" placeholder="please enter content"></input>`
	})
	app2.mount('#demo')
</script>